{{! Footer Partial}}

<table class="row footer">
  <tr>
    <td class="wrapper">

      <table class="twelve columns">
        <tr>
          <td class="last text-right right-text-pad contact">
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
