### If replying, enter above this line (~cid: {{card.id}}) ###
<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        {{> "header"}}

        <table class="container page">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>
                          <center>
                            <h3 class="center spaced">Roger That</h3>
                            <h5 class="center spaced">Your issue "{{card.name}}" has been received and will be triaged shortly.</h5>
                            {{#if card.isHighPriority}}
                              <h6 class="center spaced">This issue is marked as <strong>HIGH PRIORITY</strong>.</h6>
                            {{/if}}
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                      <tr class="signature">
                        <td>
                          - AE Issue Team
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

        {{> "footer"}}
      </center>
    </td>
  </tr>
</table>
