<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        {{> "header"}}

        <table class="container page">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>
                          <center>
                            <h3 class="center spaced">We're on it!</h3>
                            <h5 class="center spaced">Your issue "{{card.name}}" has been marked as <strong>{{updateType}}</strong>.</h5>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                      <tr class="signature">
                        <td>
                          - AE Issue Team
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

        {{> "footer"}}
      </center>
    </td>
  </tr>
</table>
